<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <!--
      Значение в type зависит от версии Prism.
    -->

    <section
      name="modules"
      type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <modules>
    <!--
      moduleType = namespace.class_name, ...
      starupLoaded = "true" - загрузка модуля при запуске приложения
      starupLoaded = "false" - загрузка модуля по требованию
    -->

    <module
      assemblyFile="Modules/ModuleA.dll"
      moduleType="ModuleA.ModuleAModule, ModuleA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      moduleName="ModuleA"
      startupLoaded="true"/>
  </modules>
</configuration>
